.notice:has(.share-note-status-error.notice) {
    background: #c10000;
    color: white
}

.notice:has(.share-note-status-info) {
    background: hsl(204, 86%, 53%);
    color: white
}

.notice:has(.share-note-status-success) {
    background: #629762;
    color: white
}
.notice:has(.share-note-status-success) a {
    color: white;
    text-decoration: underline;
}

.share-note-icons {
    display: flex;
}

.share-note-icons > span {
    display: flex;
    margin-left: 6px;
    cursor: pointer;
}
